extends layout

block content
  .jumbotron
    .text-center
      h2.display-4 Uploaded Videos
  .container
    //- If no videos are currently stored, display a warning
    if videos.length === 0
      #upload-warn.alert.alert-warning.text-center(role="alert")
        | No videos currently stored. Try uploading one now!
    //- Else, display a table of all stored videos
    else
      table.table
        thead
          tr
            th(scope='col') Title
            th(scope='col') Resolution
            th(scope='col') Date
            th(scope='col')
        tbody
          each video in videos
            - const url = `/browse/video/${video.vuuid}`
            tr
              td.title-col #{video.name}
              td.res-col #{video.finalResolution}
              td.date-col #{new Date(video.date).toLocaleDateString()}
              td.button-col
                .text-center
                  a.btn.btn-info.view-button(href=url, role='button') View