extends layout

block content
  .jumbotron
    .text-center
      h2.display-4 #{name}
      div
        p.d-inline.res
          span.font-weight-bold Resolution: 
          | #{finalResolution}
        p.d-inline
          span.font-weight-bold Created: 
          | #{new Date(date).toLocaleDateString()}
      if completed
        a.btn.btn-info.download-button(href=url, role='button', download) Download
  .container.text-center
    if completed
      video.video(controls)
        source(src=url, type='video/mp4')
        | Your browser does not support the video tag.
    else
      #upload-warn.alert.alert-warning(role="alert")
        | This video is still processing and will be available shortly.

